<nav class="navbar navbar-expand-lg bg-body-tertiary py-0">
    <div class="container-fluid">
        <span class="navbar-brand h1 m-2 mx-5">Stock Search</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon m-auto"><i class="bi bi-list fs-1" style="color: white;"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <button
                    class="nav-link"
                    id="nav-search"
                    [routerLink]="['/', 'search', 'home']"
                    (click)="setActiveTab('search')"
                    [class.active]="activeTab === 'search'">
                    <span class="mx-2">Search</span>
                    </button>
                    <!-- <button class="nav-link active" id="nav-search" [routerLink]="['/','search','home']" (click)="setSearchTab()">Search</button> -->
                </li>
                <li class="nav-item">
                    <button
                    class="nav-link"
                    id="nav-watchlist"
                    routerLink="/watchlist"
                    (click)="setActiveTab('watchlist')"
                    [class.active]="activeTab === 'watchlist'">
                    <span class="mx-2">Watchlist</span>
                    </button>
                    <!-- <button class="nav-link " id="nav-watchlist" routerLink="/watchlist" (click)="setWatchlistTab()">Watchlist</button> -->
                </li>
                <li class="nav-item">
                    <button
                    class="nav-link"
                    id="nav-portfolio"
                    routerLink="/portfolio"
                    (click)="setActiveTab('portfolio')"
                    [class.active]="activeTab === 'portfolio'">
                    <span class="mx-2">Portfolio</span>
                    </button>
                    <!-- <button class="nav-link" id="nav-portfolio" routerLink="/portfolio" (click)="setPortfolioTab()">Portfolio</button> -->
                </li>
            </ul>
        </div>
        
    </div>
</nav>