<nav class="navbar bg-body-tertiary py-0">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Stock Search</span>

      <ul class="nav justify-content-end nav-pills">
        <li class="nav-item" id="nav-search">
            <a class="nav-link active" aria-current="page" [routerLink]="['/','search','home']">Search</a>
        </li>
        <li class="nav-item" id="nav-watchlist">
            <a class="nav-link" routerLink="/watchlist">Watchlist</a>
        </li>
        <li class="nav-item" id="nav-portfolio">
            <a class="nav-link" routerLink="/portfolio">Portfolio</a>
        </li>
    </ul>
    </div>
</nav>