<!-- TODO: for mobile hamburger bar -->
<nav class="navbar bg-body-tertiary py-0">
    <div class="container-fluid">
        <span class="navbar-brand h1 m-2 mx-5">Stock Search</span>

        <ul class="nav justify-content-end mx-4">
            <li class="nav-item">
                <button
                class="nav-link"
                id="nav-search"
                [routerLink]="['/', 'search', 'home']"
                (click)="setActiveTab('search')"
                [class.active]="activeTab === 'search'">Search</button>
                <!-- <button class="nav-link active" id="nav-search" [routerLink]="['/','search','home']" (click)="setSearchTab()">Search</button> -->
            </li>
            <li class="nav-item">
                <button
                class="nav-link"
                id="nav-watchlist"
                routerLink="/watchlist"
                (click)="setActiveTab('watchlist')"
                [class.active]="activeTab === 'watchlist'">Watchlist</button>
                <!-- <button class="nav-link " id="nav-watchlist" routerLink="/watchlist" (click)="setWatchlistTab()">Watchlist</button> -->
            </li>
            <li class="nav-item">
                <button
                class="nav-link"
                id="nav-portfolio"
                routerLink="/portfolio"
                (click)="setActiveTab('portfolio')"
                [class.active]="activeTab === 'portfolio'">Portfolio</button>
                <!-- <button class="nav-link" id="nav-portfolio" routerLink="/portfolio" (click)="setPortfolioTab()">Portfolio</button> -->
            </li>
        </ul>
    </div>
</nav>