<app-search-bar (notify)="OnNotify($event)"></app-search-bar>
<div class="container-fluid my-5" *ngIf="loading$ | async">
    <mat-spinner style="margin: auto;" diameter="50"></mat-spinner>
</div>
<app-alert [visible]="alertVisible" [condition]="alertCondition" [ticker]="alertTicker"></app-alert>

<ngb-alert id="invalid-ticker-alert" *ngIf="invalidSymbolFlag" type="alert-danger" class="alert alert-danger" [dismissible]="false">
    No data found. Please enter a valid ticker
</ngb-alert>

<div class="container w-70 stock-info" *ngIf="!(loading$ | async) && isShow && stockV2">
    <div class="container text-center basic-info">
        <div class="row profile">
          <div class="col-5 left px-0">
            <div>
                <span class="my-2 fs-3">
                    {{ currentTicker }}
                    <i (click)="toggleToWatchlist()" 
                    [ngClass]="{'bi bi-star-fill fs-5': isInWatchlist, 'bi bi-star fs-5': !isInWatchlist}" 
                    [ngStyle]="{'color': isInWatchlist ? 'gold' : 'inherit'}"></i>
                </span>
            </div>
            <div class="text-secondary my-2 fs-5">{{ currentProfile?.name }}</div>
            <div class="my-2">{{ currentProfile?.exchange }}</div>
          </div>
          <div class="col-2 middle px-0">
            <img id="logo-img" src="{{ currentProfile?.logo }}">
          </div>
          <div class="col-5 right px-0">
            <div #searchPrice class="{{currentQuote?.color}}">
                <div class="my-2 fs-3">{{ currentQuote?.c?.toFixed(2) }}</div>
                <span class="my-2 fs-5">
                    <i *ngIf="currentQuote?.color == 'text-danger'" class="fs-6 bi bi-caret-down-fill"></i>
                    <i *ngIf="currentQuote?.color == 'text-success'" class="fs-6 bi bi-caret-up-fill"></i>
                    {{ currentQuote?.c?.toFixed(2) }} ({{ currentQuote?.c?.toFixed(2) }}%)
                </span>
            </div>
            <div class="my-2"> {{currentQuote?.getQuoteTimestamp}} </div>
          </div>
        </div>
        <div class="row buy-sell">
            <div class="col-5 d-flex justify-content-center px-0">
                <app-buy-sell [name]="stockV2.profile.name" [ticker]="currentTicker" [price]="stockV2.currentPrice.c" btnCol="btn btn-success"></app-buy-sell>
            </div>
            <div class="col-2 px-0"></div>
            <div class="col-5 px-0"></div>
        </div>
        <div class="market-info text-center my-2 fw-bold">
            <div class="text-success" *ngIf="currentQuote?.markOpen"> Market is Open </div>
            <div class="text-danger" *ngIf="!currentQuote?.markOpen"> Market Closed on {{currentQuote?.lastTimestamp}} </div>
        </div>
    </div>
    <div class="detail-info">
        <mat-tab-group>
            <mat-tab label="Summary">
                <div class="row my-3">
                    <div class="col-md">
                        <div class="pt-4 price">
                            <table class="mx-auto">
                                <tr><th>High Price:</th><td>{{ currentQuote?.h?.toFixed(2) }}</td></tr>
                                <tr><th>Low Price:</th><td>{{ currentQuote?.l?.toFixed(2) }}</td></tr>
                                <tr><th>Open Price:</th><td>{{ currentQuote?.o?.toFixed(2) }}</td></tr>
                                <tr><th>Prev. Close:</th><td>{{ currentQuote?.pc?.toFixed(2) }}</td></tr>
                            </table>
                        </div>
                        <div class = "text-center my-2 py-auto">
                            <p class="my-3" style="font-size: large;"><strong><u>About the company</u></strong></p>
                            <div class="my-2"><strong>IPO Start Date: </strong>{{ currentProfile?.ipo }}</div>
                            <div class="my-2"><strong>Industry: </strong>{{ currentProfile?.finnhubIndustry }}</div>
                            <div class="my-2"><strong>Webpage: </strong><a href="{{ currentProfile?.weburl }}" target="_blank">{{ currentProfile?.weburl }}</a></div>
                            <div class="my-2"><strong>Company peers: </strong></div>
                            <span class="my-2" *ngFor="let peer of currentPeers">
                                <a [routerLink]="['/','search', peer]">{{peer}}</a>
                                &nbsp;
                            </span>
                        </div>
                    </div>
                    <div class="col-md mb-5">
                        <app-chart chartType="lastworking"></app-chart>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Top News">
                <div class="row row-cols-1 row-cols-md-2 g-3 mt-3">
                    <app-news-card *ngFor="let newsItem of currentNews" [news]="newsItem"></app-news-card>
                </div>
            </mat-tab>
            <mat-tab label="Charts">
                <div class="history">
                    <app-chart chartType="history"></app-chart>
                </div>
            </mat-tab>
            <mat-tab label="Insights">
                <div class="text-center fs-5 my-3">Insider Sentiments</div>
                <table class="table container w-50 mx-auto text-center insider">
                    <thead>
                        <tr>
                            <th scope="col">{{stockV2.profile.name}}</th>
                            <th scope="col">MSPR</th>
                            <th scope="col">Change</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Total</th>
                            <td>{{insider.mspr.total}}</td>
                            <td>{{insider.change.total}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Positive</th>
                            <td>{{insider.mspr.positiveVal}}</td>
                            <td>{{insider.change.positiveVal}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Negative</th>
                            <td>{{insider.mspr.negativeVal}}</td>
                            <td>{{insider.change.negativeVal}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row my-3">
                    <div class="col-md-6 mb-5">
                        <app-chart chartType="recommendation"></app-chart>
                    </div>
                    <div class="col-md-6 mb-5">
                        <app-chart chartType="earnings"></app-chart>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>