.middle img{
    height: 100px;
    width: auto;
}

.price{
    width: 50%;
}

.left i:hover{
    cursor: pointer;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;  /* space between cards */
}

@media screen and (max-width: 900px) {
    .stock-info {
        width: 100%;
    }

    .middle img {
        height: 50px;
        width: auto;
    }

    .price{
        width: 100%;
    }

    .news-grid {
        grid-template-columns: 1fr; /* Stack the cards on smaller screens */
      }
}