<app-search-bar (notify)="OnNotify($event)"></app-search-bar>
<app-loading *ngIf="loading$ | async"></app-loading>
<app-alert [visible]="alertVisible" [condition]="alertCondition" [ticker]="alertTicker"></app-alert>
<div class="container w-70 stock-info" *ngIf="!(loading$ | async) && currentTicker !== 'home' && stockV2">
    <!-- <div class="container text-center basic-info">
        <div class="row profile">
          <div class="col-5 left px-0">
            <div>
                <span class="my-2 fs-3">
                    {{ stockV2.profile.ticker }}
                    <i (click)="toggleToWatchlist()" 
                    [ngClass]="{'bi bi-star-fill fs-5': isInWatchlist, 'bi bi-star fs-5': !isInWatchlist}" 
                    [ngStyle]="{'color': isInWatchlist ? 'gold' : 'inherit'}"></i>
                </span>
            </div>
            <div class="text-secondary my-2 fs-5">{{ stockV2.profile.name }}</div>
            <div class="my-2">{{ stockV2.profile.exchange }}</div>
          </div>
          <div class="col-2 middle px-0">
            <img id="logo-img" src="{{ stockV2.profile.logo }}">
          </div>
          <div class="col-5 right px-0">
            <div #searchPrice class="{{stockV2.currentPrice.color}}">
                <div class="my-2 fs-3">{{ stockV2.currentPrice.c.toFixed(2) }}</div>
                <span class="my-2 fs-5">
                    <i *ngIf="stockV2.currentPrice.color == 'text-danger'" class="fs-6 bi bi-caret-down-fill"></i>
                    <i *ngIf="stockV2.currentPrice.color == 'text-success'" class="fs-6 bi bi-caret-up-fill"></i>
                    {{ stockV2.currentPrice.d.toFixed(2) }} ({{ stockV2.currentPrice.dp.toFixed(2) }}%)
                </span>
            </div>
            <div class="my-2"> {{stockV2.currentPrice.getQuoteTimestamp}} </div>
          </div>
        </div>
        <div class="row buy-sell">
            <div class="col-5 d-flex justify-content-center px-0">
                <span>
                    <button type="button" class="btn btn-success" (click)="OnBuyClick(stockV2.profile.ticker)">Buy</button>&nbsp;
                    <button *ngIf="stockV2.quantity>0" type="button" class="btn btn-danger" (click)="OnSellClick(stockV2.profile.ticker)">Sell</button>
                </span>
            </div>
            <div class="col-2 px-0"></div>
            <div class="col-5 px-0"></div>
        </div>
        <div class="market-info  text-center my-2 fw-bold">
            <div class="text-success" *ngIf="stockV2.currentPrice.markOpen"> Market is Open </div>
            <div class="text-danger" *ngIf="!stockV2.currentPrice.markOpen"> Market Closed on {{stockV2.currentPrice.lastTimestamp}} </div>
        </div>
    </div> -->
    <div class="detail-info">
        <mat-tab-group>
            <mat-tab label="Summary">
                <div class="row">
                    <div class="col-md">
                        <div class="pt-4 price">
                            <table class="mx-auto">
                                <tr><th>High Price:</th><td>{{ stockV2.currentPrice.h.toFixed(2) }}</td></tr>
                                <tr><th>Low Price:</th><td>{{ stockV2.currentPrice.l.toFixed(2) }}</td></tr>
                                <tr><th>Open Price:</th><td>{{ stockV2.currentPrice.o.toFixed(2) }}</td></tr>
                                <tr><th>Prev. Close:</th><td>{{ stockV2.currentPrice.pc.toFixed(2) }}</td></tr>
                            </table>
                        </div>
                        <div class = "text-center py-2">
                            <p class="my-3" style="font-size: large;"><strong><u>About the company</u></strong></p>
                            <div class="my-2"><strong>IPO Start Date: </strong>{{ stockV2.profile.ipo }}</div>
                            <div class="my-2"><strong>Industry: </strong>{{ stockV2.profile.finnhubIndustry }}</div>
                            <div class="my-2"><strong>Webpage: </strong><a href="{{ stockV2.profile.weburl }}" target="_blank">{{ stockV2.profile.weburl }}</a></div>
                            <div class="my-2"><strong>Company peers: </strong></div>
                            <span class="my-2" *ngFor="let peer of stockV2.peers">
                                <a [routerLink]="['/','search', peer]">{{peer}}</a>
                                &nbsp;
                            </span>
                        </div>
                    </div>
                    <div class="col-md" style="text-align: start;">
                        Chart for the last Working Day:
                        <highcharts-chart class="search-highchart insights-highchart" id="summary-highchart" 
                            [Highcharts]="highcharts"
                            [options]="summaryChartOptions">
                        </highcharts-chart>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Top News">
                <div class="news">
                    <div class="row">
                        <div class="col-md">
                            <div class="news-list">
                                <div class="news-item" *ngFor="let news of stockV2.news">
                                    <div class="news-title">
                                        <a href="{{ news.url }}" target="_blank">{{ news.headline }}</a>
                                    </div>
                                    <div class="news-source">{{ news.source }}</div>
                                    <div class="news-summary">{{ news.summary }}</div>
                                    <div class="news-date">{{ news.datetime }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Charts">
                <app-chart></app-chart>
            </mat-tab>
            <mat-tab label="Insights"> Insights 
    
            </mat-tab>
        </mat-tab-group>
    </div>
</div>