<app-search-bar (notify)="OnNotify($event)"></app-search-bar>
<div class="container-fluid my-5" *ngIf="loading$ | async">
    <mat-spinner style="margin: auto;" diameter="50"></mat-spinner>
</div>
<app-alert [visible]="alertVisible" [condition]="alertCondition" [ticker]="alertTicker"></app-alert>
<div class="container w-70 stock-info" *ngIf="!(loading$ | async) && currentTicker !== 'home' && stockV2">
    <div class="container text-center basic-info">
        <div class="row profile">
          <div class="col-5 left px-0">
            <div>
                <span class="my-2 fs-3">
                    {{ stockV2.profile.ticker }}
                    <i (click)="toggleToWatchlist()" 
                    [ngClass]="{'bi bi-star-fill fs-5': isInWatchlist, 'bi bi-star fs-5': !isInWatchlist}" 
                    [ngStyle]="{'color': isInWatchlist ? 'gold' : 'inherit'}"></i>
                </span>
            </div>
            <div class="text-secondary my-2 fs-5">{{ stockV2.profile.name }}</div>
            <div class="my-2">{{ stockV2.profile.exchange }}</div>
          </div>
          <div class="col-2 middle px-0">
            <img id="logo-img" src="{{ stockV2.profile.logo }}">
          </div>
          <div class="col-5 right px-0">
            <div #searchPrice class="{{stockV2.currentPrice.color}}">
                <div class="my-2 fs-3">{{ stockV2.currentPrice.c.toFixed(2) }}</div>
                <span class="my-2 fs-5">
                    <i *ngIf="stockV2.currentPrice.color == 'text-danger'" class="fs-6 bi bi-caret-down-fill"></i>
                    <i *ngIf="stockV2.currentPrice.color == 'text-success'" class="fs-6 bi bi-caret-up-fill"></i>
                    {{ stockV2.currentPrice.d.toFixed(2) }} ({{ stockV2.currentPrice.dp.toFixed(2) }}%)
                </span>
            </div>
            <div class="my-2"> {{stockV2.currentPrice.getQuoteTimestamp}} </div>
          </div>
        </div>
        <div class="row buy-sell">
            <div class="col-5 d-flex justify-content-center px-0">
                <!-- <app-buy-sell c="{{stockV2.currentPrice.c}}" [price]="stockV2.currentPrice.c" [balance]="balance"></app-buy-sell> -->
                <!-- <span>
                    <button type="button" class="btn btn-success" (click)="openModal(buyNew)">Buy</button>&nbsp;
                    <button *ngIf="isHold" type="button" class="btn btn-danger" (click)="openModal(sell)">Sell</button>
                </span> -->
            </div>
            <div class="col-2 px-0"></div>
            <div class="col-5 px-0"></div>
        </div>
        <div class="market-info text-center my-2 fw-bold">
            <div class="text-success" *ngIf="stockV2.currentPrice.markOpen"> Market is Open </div>
            <div class="text-danger" *ngIf="!stockV2.currentPrice.markOpen"> Market Closed on {{stockV2.currentPrice.lastTimestamp}} </div>
        </div>
    </div>
    <div class="detail-info">
        <mat-tab-group>
            <mat-tab label="Summary">
                <div class="row my-3">
                    <div class="col-md">
                        <div class="pt-4 price">
                            <table class="mx-auto">
                                <tr><th>High Price:</th><td>{{ stockV2.currentPrice.h.toFixed(2) }}</td></tr>
                                <tr><th>Low Price:</th><td>{{ stockV2.currentPrice.l.toFixed(2) }}</td></tr>
                                <tr><th>Open Price:</th><td>{{ stockV2.currentPrice.o.toFixed(2) }}</td></tr>
                                <tr><th>Prev. Close:</th><td>{{ stockV2.currentPrice.pc.toFixed(2) }}</td></tr>
                            </table>
                        </div>
                        <div class = "text-center my-2 py-auto">
                            <p class="my-3" style="font-size: large;"><strong><u>About the company</u></strong></p>
                            <div class="my-2"><strong>IPO Start Date: </strong>{{ stockV2.profile.ipo }}</div>
                            <div class="my-2"><strong>Industry: </strong>{{ stockV2.profile.finnhubIndustry }}</div>
                            <div class="my-2"><strong>Webpage: </strong><a href="{{ stockV2.profile.weburl }}" target="_blank">{{ stockV2.profile.weburl }}</a></div>
                            <div class="my-2"><strong>Company peers: </strong></div>
                            <span class="my-2" *ngFor="let peer of stockV2.peers">
                                <a [routerLink]="['/','search', peer]">{{peer}}</a>
                                &nbsp;
                            </span>
                        </div>
                    </div>
                    <div class="col-md mb-5">
                        <app-chart chartType="lastworking"></app-chart>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Top News">
                <div class="row row-cols-1 row-cols-md-2 g-3 mt-3">
                    <app-news-card *ngFor="let newsItem of news" [news]="newsItem"></app-news-card>
                </div>
            </mat-tab>
            <mat-tab label="Charts">
                <div class="history">
                    <app-chart chartType="history"></app-chart>
                </div>
            </mat-tab>
            <mat-tab label="Insights">
                <div class="text-center fs-5 my-3">Insider Sentiments</div>
                <table class="table container w-50 mx-auto text-center insider">
                    <thead>
                        <tr>
                            <th scope="col">{{stockV2.profile.name}}</th>
                            <th scope="col">MSPR</th>
                            <th scope="col">Change</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Total</th>
                            <td>{{insider.mspr.total}}</td>
                            <td>{{insider.change.total}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Positive</th>
                            <td>{{insider.mspr.positiveVal}}</td>
                            <td>{{insider.change.positiveVal}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Negative</th>
                            <td>{{insider.mspr.negativeVal}}</td>
                            <td>{{insider.change.negativeVal}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row my-3">
                    <div class="col-md-6 mb-5">
                        <app-chart chartType="recommendation"></app-chart>
                    </div>
                    <div class="col-md-6 mb-5">
                        <app-chart chartType="earnings"></app-chart>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>


<!-- Modal -->
<ng-template #buyNew let-modal>
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">AAPL</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div> Current Price: {{stockV2?.currentPrice?.c}} </div>
        <div> Money in Wallet: $3333.33</div>
        <div class="d-flex align-items-center">
            <span class="me-2">Quantity: </span>
            <input type="number" class="form-control" id="quantity" placeholder="0">
        </div>
        <div class="text-danger">Not enough</div>
    </div>
    <div class="modal-footer d-flex justify-content-between">
        <div>Total: 546.32</div>
        <button type="button" class="btn btn-primary">Buy</button>
    </div>
</ng-template>

<ng-template #sell let-modal>
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">AAPL</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div> Current Price: {{stockV2?.currentPrice?.c}} </div>
        <div> Money in Wallet: $3333.33</div>
        <div class="d-flex align-items-center">
            <span class="me-2">Quantity: </span>
            <input type="number" class="form-control" id="quantity" placeholder="0">
        </div>
        <div class="text-danger">Not enough</div>
    </div>
    <div class="modal-footer d-flex justify-content-between">
        <div>Total: 546.32</div>
        <button type="button" class="btn btn-primary">Sell</button>
    </div>
</ng-template>