.middle img{
    height: 100px;
    width: auto;
}

.price{
    width: 50%;
}

.left i:hover{
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .stock-info {
        width: 100%;
    }

    .middle img {
        height: 50px;
        width: auto;
    }

    .price{
        width: 100%;
    }
}